<!DOCTYPE html>
<html>
    <head>
        <title>Let's play a game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}?v1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/quagen.css') }}?v1">

    </head>

    <body>
        <p>
            Hello everybody
        </p>
        <p>
            Player 1: <span id='score1'></span>
            Player 2: <span id='score2'></span>
        </p>

        <div id="board" data-game="{{ game.game_id }}" data-turn="{{ game.turn_number }}" data-board="{{ game.board }}">
        {% for i in range(game['spaces']) %}
            <button id="spot{{ i }}" data-spot="{{ i }}" class="button" type="button"></button>
            {% if 0 == ((i + 1) % game['dimension_x']) %}
                <br />
            {% endif %}
        {% endfor %}
        </div>

        <script src="{{ url_for('static', filename='js/game.js') }}?v4"></script>

    </body>

</html>