<!DOCTYPE html>
<html>
    <head>
        <title>Let's play a game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}?v9">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/quagen.css') }}?v9">

    </head>

    <body>
        <div>
            <p>
                Hello everybody
            </p>
            <table>
                <tr>
                    <th>Color</th>
                    <th>Controlled</th>
                    <th>Pressuring</th>
                    <th>Projected</th>
                </tr>
                {% for i in range(game['settings']['player_count'] + 1) %} 
                    {% set colors = ['Black', 'Red', 'Blue'] %}
                <tr>
                    <td>{{ colors[i] }}</td>
                    <td id="player-controlled-{{ i }}">--</td>
                    <td id="player-pressuring-{{ i }}">--</td>
                    <td id="player-projected-{{ i }}">--</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="board" data-gameId="{{ game.game_id }}" >
        {% for y in range(game['settings']['dimension_y']) %}
            {% for x in range(game['settings']['dimension_x']) %}
                <button id="spot-{{ x }}-{{ y }}" data-spotX="{{ x }}" data-spotY="{{ y }}" class="button" type="button"></button>
            {% endfor %}
            <br />
        {% endfor %}
        </div>

        <script src="{{ url_for('static', filename='js/game.js') }}?v9"></script>

    </body>

</html>