body {
    padding-bottom: 50px;
    white-space: nowrap;

}

p {
    margin-top: 1em;
}

table {
    margin-top: 1em;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: .5em;
}

div {
    margin-top: 1em;
}

section {
    margin-top: 1em;
    margin-left: 25px;
}

.button, .button:disabled {
    margin: 1px;
    height: 25px;
    width: 25px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.button:active {
    background:yellow;
    opacity: 1;
}

.button-move {
  outline: 3px solid black;
  outline-offset: 1px;
  z-index: 2;
}

.button-pending {
  outline: 3px solid black;
  outline-offset: 1px;
  z-index: 2;
}


.player-color-0 {background-color: #000000;} 
.player-color-1 {background-color: #008cba;} 
.player-color-2 {background-color: #f44336;}  
.player-color-3 {background-color: #16d74f;}  
.player-color-4 {background-color: #ffc300;}  

