body {
    padding-bottom: 50px;
}

p {
    margin-top: 1em;
}

table {
    margin-top: 1em;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: .5em;
}

div {
    margin-top: 1em;
}

.button, .button:disabled {
    margin: 1px;
    height: 25px;
    width: 25px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.button:active {
    background:yellow;
    opacity: 1;
}


.black {background-color: #000000;} 
.blue {background-color: #008CBA;} 
.red {background-color: #f44336;}  