<!DOCTYPE html>
<html>
    <head>
        <title>Quagen | Let's play a game</title>
        <meta charset="utf-8">
        <meta name="language" content="english"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content=Ryan Seekely”>
        <meta name="description" content="Quagen is a Go-like game where players make simultaneous moves to control territory on a grid board.">
        <meta name="keywords" content="game,go,chess">

        <link rel="shortcut icon" href="/img/favicon.ico">
        <link rel='stylesheet' href="/css/sanitize.css?v=1">
        <link rel='stylesheet' href="/css/web.css?v=1">
        <link rel='stylesheet' href="/css/ui.css?v=1">
    </head>

    <body>
        <div class="content">
            <div id="banner">
                <a href="/"><img src="/img/quagen.png" /></a>
            </div>
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <p>
                Created by <a class="link" href="https://seekely.com">Ryan Seekely</a>. Source code available on <a class="link" href="https://github.com/seekely/quagen">Github.</a>
            </p>
        </div>

        {% block scripting %}{% endblock %}

    </body>

</html>