<!DOCTYPE html>
<html>
    <head>
        <title>Quagen | Let's play a game</title>
        <meta charset="utf-8">
        <meta name="language" content="english"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content=Ryan Seekely”>
        <meta name="description" content="Quagen is a Go-like game where players make simultaneous moves to control territory on a grid board.">
        <meta name="keywords" content="game,go,chess">

        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel='stylesheet' href="/static/css/sanitize.css?v=1">
        <link rel='stylesheet' href="/static/css/web.css?v=1">
        <link rel='stylesheet' href="/static/css/ui.css?v=1">
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>

</html>