<!doctype html>
<html>
<head>
    <meta charset='utf8'>
    <meta name='viewport' content='width=device-width'>
    <title>Quagen | Let's play a game</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel='stylesheet' href='{{ url_for('static', filename='css/ui.css') }}'>
</head>


<body>
    <div id="game"></div>

    <script src='{{ url_for('static', filename='js/ui.js') }}'></script>

    <script>
        const game = new ui.Game({
            target: document.getElementById("game"),
            props: {
                gameId: '{{ game.game_id }}'
            }
        });
    </script>

</body>
</html>