<!doctype html>
<html>
<head>
    <meta charset='utf8'>
    <meta name='viewport' content='width=device-width'>

    <title>Svelte app</title>

    <link rel='stylesheet' href='{{ url_for('static', filename='css/ui.css') }}'>
</head>


<body>
    wtf

    <div id="game"></div>

    <script src='{{ url_for('static', filename='js/ui.js') }}'></script>

    <script>
        const game = new ui.Game({
            target: document.getElementById("game"),
            props: {
                gameId: '1ba4df75a6a1490f8885306b74cfcf2f'
            }
        });
    </script>

</body>
</html>