body {
    background-image: url('/static/img/tile.png');
    background-repeat: repeat;
    font-size: 15px;
    font-family: 'Helvetica';
    white-space: nowrap;
}

div.content {
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 15%;
    width: 70%;
}

#banner {
    margin-bottom: 1em;
}