body {
  background-image: url("/img/tile.png");
  background-repeat: repeat;
  font-size: 15px;
  font-family: "Helvetica";
}

a.link,
a:visited.link {
  font-weight: bold;
  color: #ff3030;
  text-decoration: none;
}

div.content {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 25px;
  margin-left: 15%;
  width: 85%;
}

@media only screen and (max-width: 800px) {
  div.content {
    margin-top: 25px;
    margin-left: 10%;
    width: 90%;
  }
}

#banner {
  margin-bottom: 1.5em;
}

div.footer {
  margin-top: 3em;
  text-align: center;
}
